.country{
    border: 12px solid rgb(30, 48, 2);
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
    
}
.visitedStyle{
    background-color: rgb(6, 6, 83);
    color: white;
}
.non_VisitedStyle{
    background-color: rgb(139, 190, 244);
        color: rgb(0, 0, 0);
}
